<div class="category">
  <div class="category_card">
    <div class="icon_card">
      <%= image_tag(category.icon, class: "icon") if category.icon.attached? %>
    </div>
    <div class= "category_info">
      <%= category.name %>
      <div class="category_transaction">
        $<%= category.sum_total %>
      </div>
    </div>
  </div>
</div>
