<div class="navbar">  
  <div>
    <%= link_to root_path do %>
      <span class="back_icon"> < </span>
    <% end %>
  </div>
  <div class="page"><%= location %></div>

    <div class="image">
      <%= image_tag("cash.png", class: "money") %>
    </div>
</div>
